# config.py
import os
from dotenv import load_dotenv

# Load environment variables from .env at the project root
load_dotenv()

CHROMA_DB_PATH = "./chroma_db"
RESUME_DIR = "./resumes"
EMBEDDING_MODEL = "openai"  # or "local"
OPENAI_EMBED_MODEL_NAME = "text-embedding-3-small"
OPENAI_MODEL = "gpt-4o-mini"  # or "gpt-4o-mini"

# Set OpenAI Key via env
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
